@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ======= LOGGIN PAGE  ===== */

.wrapper-login {
  background-color: #072A40;
  width: 100vw;
  height: 100vh;
}
.wrapper-login .content {
  border: 1px solid #072A40;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  padding: 50px 0;
}
.wrapper-login .content img {
  display: block;
  width: 70%;
  margin: 0 auto 70px auto;
  position: relative;
  top: 0;
  animation: logo 2s;
}

.wrapper-login button {
  display: block;
  margin: auto;
  width: 60%;
  height: 40px;
  background-color: #0089BF;
  color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  animation: btn 4s;
  transition: 0.5s;
}

.wrapper-login button:hover {
  background-color: transparent;
  border: 2px solid #0089BF;
  color: #0089BF;
}


@keyframes logo {
  from {
    top:-80px;
    filter: opacity(0);
  }
  to {
    top: 0;
    filter: opacity(1);
  }
} 

@keyframes btn {
  0%{
    filter: opacity(0);
  }
  80% {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}






/* ======= SIDEBAR  ===== */
.wrapper-sidebar {
  position: fixed;
  left: 0; top: 0;
  width: 280px;
  height: 100vh;
  background-color: #072A40;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.wrapper-sidebar .menuBtn {
  display: none;
}
.wrapper-sidebar img {
  display: block;
  width: 80%;
  margin: 60px auto;
}
.wrapper-sidebar .menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper-sidebar .mobile-menu {
  display: none;
}

.wrapper-sidebar .menu button {
  display: flex;
  gap: 20px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: none;
  text-align: left;
  padding-left: 40px;
  transition: 0.3s;
}
.wrapper-sidebar .menu button:hover {
  /* padding-left: 55px; */
  gap: 40px;
  color: #0089BF !important;
}



/* ====== CALENDAR PAGE ====== */
.wrapper-calendarPage {
  display: grid;
  grid-template-columns: 280px auto;
  gap: 10px;
}
.wrapper-calendarPage .row {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px 0;
  margin-bottom: 10px;
  text-align: left;
}
.wrapper-calendarPage .date {
  text-align: center;
}
.wrapper-calendarPage .day {
  font-size: 35px;
  font-weight: 600;
}
.wrapper-calendarPage .calendar-topNav{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.calendar-topNav select{
  font-size: 20px;
  padding: 5px 15px;
  border: 1px solid lightgrey;
  background-color: transparent;
  color: #072A40;
  outline: none;
  -webkit-appearance: none;
}

/* Title  */
.fc-toolbar-chunk { 
  font-size: 15px;
}
.fc-event-main {
  font-size:13px !important;
}
.custom-event {
  padding: 0 10px;
  border: 1px solid transparent;
}
.event-title {
  text-transform: capitalize;
  font-weight: bold;
}

.reservationPopup {
  position: fixed;
  bottom: 0; /* Start the popup at the bottom of the screen */
  left: 50%;
  transform: translateX(-50%) translateY(-50%); /* Start at the bottom */
  background-color: white;
  border-radius: 10px;
  width: 900px;
  height: 600px;
  z-index: 999;
  animation: slideUp 0.3s;
}

@keyframes slideUp {
  0% {
    transform: translate(-50%, 100%); /* Start at the bottom */
  }
  100% {
    transform: translate(-50%, -50%); /* End at the desired center position */
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}


/* ===== DOCUMENTS PAGE ===== */
.wrapper-documentsPage {
  display: grid;
  grid-template-columns: 250px auto;
}
.wrapper-documentsPage iframe {
  display: none;
}
.wrapper-documentsPage .top-nav {
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.wrapper-documentsPage .searchBar {  
  display: flex;
  align-items: center;
  gap: 5px;
}
.wrapper-documentsPage .top-nav h2 {
  margin-left: 0;
  margin-right: auto;
  font-size: 40px;
  color: #0089BF;
}
.wrapper-documentsPage .top-nav input {
  font-size: 15px;
  width: 300px;
  height: 35px;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
  text-transform: capitalize;
  outline: none;
}
.wrapper-documentsPage .top-nav button {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  background-color: #0089BF;
  color: white;
  border: none;
  font-size: 18px;
}

.editIcon {
  font-size: 30px;
  margin-left: 20px;
  color: gray;
}
.editIcon:hover {
  color: #0089BF;
}

.wrapper-documentsPage .documents-row {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
} 


.wrapper-documentsPage .documents-row #left {
    display: grid;
    grid-template-columns: 250px auto 200px 180px 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 0 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    margin: 0 auto 10px auto;
    transition: 0.3s;
}

.wrapper-documentsPage .documents-row #right {
  display: flex;
  align-items: center;
  font-size: 25px;
  padding: 0 20px;
  height: 60px;
  gap: 15px;
}
.documents-row .writeIcon, .documents-row .deleteIcon {
  color: gray;
}

.documents-row .writeIcon:hover {
  color: #0089BF;
}
.documents-row .deleteIcon:hover {
  color: red;
}


.wrapper-documentsPage .documents-row #name {
  text-transform: capitalize;
}
.wrapper-documentsPage .documents-row #left:hover {
  border: 2px solid #0089BF;
  padding-left: 40px;
}
.documents-row p {
  font-size: 15px;
  text-align: left;
}
.documents-row .iconChevRight {
  color: gray;
}




/* ===== DOCUMENT ====  */
.wrapper-document {
  padding: 30px 100px;
  background-color: aliceblue;
}
.wrapper-document .content {
  width: 1250px;
  margin: auto;
  background-color: white;
  padding: 50px 90px;
  padding-bottom: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.wrapper-document .header {
  display: grid;
  grid-template-columns: 300px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #0089BF;
  margin-bottom: 50px;
}
.wrapper-document .header img {
  width: 100%;
}

.wrapper-document h2 {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.wrapper-document p {
  width: 80%;
  margin: auto;
  text-align: left;
  font-size: 20px;
}

.wrapper-document input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid lightgrey;
  outline: none;
  font-size: 15px;
  text-align: center;
}

.floatingBtns {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.floatingBtns button {
  width: fit-content;
  padding: 0 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid transparent;
  color: white;
  font-size: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.floatingBtns #save {
  background-color: #0089BF;
}
.floatingBtns #sign {
  background-color: #072A40;
}


.btnSign:hover {
  background-color: white;
  color: #0089BF;
  border: 3px solid #0089BF;
}
.wrapper-document .overlay {
  width: 100%;
  height: 100%;
  z-index: 998;

}


.grid-tenant-signs {
  display: grid;
  grid-template-columns: auto auto;
  width: 90%;
  margin: 10px auto 30px auto;
  align-items: baseline;
}

.sign-pad {
  z-index: 999;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 800px;
  height: 500px;
  border-radius: 20px;
}
.sign-pad .pad {
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 90%;
  height: 300px;
  margin: 30px auto 20px auto;
}
.sign-pad input {
  width: 300px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  font-size: 20px;
  border-bottom: 1px solid lightgray;
  text-align: center;
  text-transform: capitalize;
}

.sign-pad .actions {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  width: fit-content;
  height: 45px;
  margin: auto;
}
.sign-pad .actions button {
  border-radius: 5px;
  border: 2px solid transparent;
  font-size: 18px;
  width: 250px;
}
.actions #save {
  background-color: #0089BF;
  color: white;
}
.actions #cancel {
  background-color: lightgray;
}
.actions #save:hover {
  border: 2px solid #0089BF;
  background-color: white;
  color: #0089BF;
}
.actions #cancel:hover {
  border: 2px solid gray;
  background-color: white;
  color: gray;
}

.sign {
  width: 200px;
  margin: 0px auto 0 auto;
  /* height: 200px; */
}
.sign img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}
.sign p {
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}

.wrapper-document .confirmation {
    position: fixed;
    left: 0; top: 0;
    width: 100vw; height: 100vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
.wrapper-document .confirmation-content {
  width: 600px;
  height: 400px;
  margin-top: -100px;
}
.confirmation-content h2 {
  margin-top: -10px;
  margin-bottom: 10px;
  color: gray;
}
.confirmation-content p {
  text-align: center;
  font-size: 25px;
  color: gray;
}


.wrapper-document .checkIcon {
  font-size: 150px;
  color: rgb(38, 185, 38);
  margin: 0;
  padding: 0;
}


.wrapper-document .indent {
  width: 70%;
  margin-left: auto;
}

.wrapper-document .in-text {
  font-size: 20px;
}
.wrapper-document .in-rad {
  margin-right: 10px;
}


#in2 { width: 50px;}
#in3 { width: 450px;}
#in4 { width: 650px;}
#in5 { width: 430px;}
#in6 { width: 550px;}
#in7 { width: 550px;}
#in8 { width: 200px;}
#in9 { width: 100px;}
#in10 { width: 100px;}
#in11 { width: 400px;}

/* #in13 { width: 50px;} */
#in14 { width: 50px;}
#in15 { width: 50px;}
#in16 { width: 180px;}
#in17 { width: 50px;}
#in18 { width: 50px;}
#in19 { width: 50px;}
#in20 { width: 250px;}
#in21 { width: 50px;}
#in22 { width: 50px;}
#in23 { width: 50px;}
#in24 { width: 50px;}
#in25 { width: 50px;}
#in26 { width: 150px;}
#in27 { width: 150px;}
#in28 { width: 100px;}
#in29 { width: 700px;}
#in30 { width: 840px;}
#in31 { width: 150px;}
#in32 { width: 80px;}
#in33 { width: 80px;}
#in34 { width: 150px;}
#in35 { width: 50px;}
#in36 { width: 80px;}
#in37 { width: 550px;}
#in38 { width: 150px;}
#in39 { width: 150px;}
#in40 { width: 300px;}
#in41 { width: 150px;}
#in42 { width: 300px;}
#in43 { width: 150px;}
#in44 { width: 150px;}
#in45 { width: 700px;}
#in46 { width: 200px;}
#in47 { width: 200px;}
#in48 { width: 200px;}
#in49 { width: 200px;}
#in50 { width: 200px;}
#in51 { width: 200px;}
#in52 { width: 350px;}
#in53 { width: 200px;}
#in54 { width: 300px;}
#in55 { width: 370px;}
#in56 { width: 200px;}
#in57 { width: 300px;}
#in58 { width: 370px;}
#in59 { width: 200px;}
#in60 { width: 300px;}







/* ==== CUSTOMERS PAGE  ==== */
.wrapper-customersPage {
  display: grid;
  grid-template-columns: 250px auto;
}
.wrapper-customersPage .top-nav {
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.wrapper-customersPage .searchBar {
  display: flex;
  gap: 5px;
}
.wrapper-customersPage .top-nav h2 {
  margin-left: 0;
  margin-right: auto;
  font-size: 40px;
  color: #0089BF;
}
.wrapper-customersPage .top-nav input {
  font-size: 15px;
  width: 300px;
  height: 35px;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
  text-transform: capitalize;
  outline: none;
}
.wrapper-customersPage .top-nav button {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  background-color: #0089BF;
  color: white;
  border: none;
  font-size: 18px;
}

.customers-row {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 90%;
  height: 60px;
  align-items: center;
  padding: 0 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
  margin: 0 auto 10px auto;
  transition: 0.3s;
}
.customers-row p {
  font-size: 15px;
  text-align: left;
}
.customers-row:hover {
  border: 2px solid #0089BF;
  padding-left: 40px;
}

.customers-list {
  max-height: calc(100vh - 160px);
  overflow-y: scroll;
}

.customers-mainGrid{
  display: grid;
  grid-template-columns: auto 300px;
  gap: 10px;
}
.customer-sideBar {
  height: calc(100vh - 160px);
  margin:0px 10px 0 -40px;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
  padding: 20px;
  overflow-y: scroll;
}

.backIcon {
  display: none;
}

.customer-sideBar #name {
  font-size: 30px;
  font-weight: bold;
  color: #0089BF;
  text-align: left;
  margin-bottom: 10px;
 }

.customer-sideBar #phone, .customer-sideBar #email {
  display: flex;
  gap: 20px;
  font-size: 15px;
  text-align: left;
  margin-bottom: 5px;
}



.customer-sideBar #customerID {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

.customer-sideBar #checkPhotoID, .customer-sideBar #checkSignedContract {
  font-size: 15px ;
  text-align: left;
  margin-top: 20px;
  border-top: 1px solid lightgray;
  padding-left: 5px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 30px auto 100px;
} 

.customer-sideBar .checkIcon {
  color: green;
  font-size: 15px;
}
.customer-sideBar .warningIcon {
  color: rgb(255, 174, 0);
  font-size: 15px;
}

.customer-sideBar iframe {
  border: 1px solid lightgray;
  width: 100%;
  height: 450px;
  margin-top: 30px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.customer-sideBar .iconPrint, .customer-sideBar .iconDownload {
  color: white;
  font-style: normal;
  border-radius: 5px;
  background-color: #0089BF;
  padding: 5px 20px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}


.extraInvoice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.extraInvoice p {
  font-size: 15px ;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 1px solid lightgray;
  padding-left: 5px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 30px auto 100px;
}

.extraInvoice input, .extraInvoice select {
  height: 30px;
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
}
.extraInvoice textarea {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.extraInvoice button {
  width: 100%;
  height: 35px;
  background-color: #0089BF;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}


.myInvoices {
  
}
.myInvoices-row {
  margin-bottom: 5px;
  display: grid;
  align-items: center;
  grid-template-columns: 15px 150px auto;
}

.myInvoices #amount {
  text-align: right;
  font-weight: 500;
}

/*  ===== SHEET 1 ===== */

.wrapper-sheet1 {
  background-color: aliceblue;
}
.wrapper-sheet1 .content {
  margin: auto;
  background-color: white;
}
.wrapper-sheet1 .header {
  display: grid;
  grid-template-columns: 150px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #0089BF;
  margin-bottom: 30px;
}
.wrapper-sheet1 .header img {
  width: 100%;
}

.wrapper-sheet1 h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.wrapper-sheet1 p {
  width: 80%;
  font-size: 12px;
  margin: auto;
  text-align: left;
  line-height: 14px;
}
.wrapper-sheet1 input {
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 12px;
  outline: none;
}

.wrapper-sheet1 .sign {
  width: 300px;
  margin: 20px auto 0 auto;
  height: 100px;
}
.wrapper-sheet1 .sign img {
  max-width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.wrapper-sheet1 .sign p {
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
}


/* ======== OVERVIEW PAGE ======== */ 
.wrapper-overview {
  display: grid;
  height: 100vh;
  grid-template-columns: 280px calc(100vw - 280px); 
  background-color: rgb(242, 241, 241);
}
.wrapper-overview .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;
  width: calc(100vw - 280px);
}

.graph {
  width:33%;
  height: calc(97vh/2);
  display: block;
  padding:  30px 35px 30px 0;
  border: 2px solid lightgray;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.127) 0px 3px 8px;
  margin: 0px;
  transition: 0.3s;
}

.graph:hover {
border: 2px solid #0089BF;
} 
.graph p {
  font-size: 18px;
  font-weight: 500;
  display: block;
  text-align: center;
  margin: 10px -35px auto 0;
}

.graph .detail {
  width: 100%;
  position: relative;
  right: -20px;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.graph .detail h1{
  color: #0089BF;
  font-size: 100px;
  font-weight: 400;
}
.graph .detail h2{
  font-size: 20px;
  color: gray;
  font-weight: 400;
}
.graph .detail h3{
  font-size: 40px;
  color: #0089BF;
  font-weight: 400;
}

.graph hr {
  width: 80%;
  margin: 0px auto 0px auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* ======== SUPPORT PAGE ========= */
.wrapper-supportPage {
  display: grid;
  grid-template-columns: 280px auto;
}
.wrapper-supportPage .top-nav {
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.wrapper-supportPage .top-nav h2 {
  margin-left: 0;
  margin-right: auto;
  font-size: 40px;
  color: #0089BF;
}
.wrapper-supportPage .top-nav button {
  margin: 0 5px;
  padding: 0 30px;
  height: 40px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 18px;
  color: gray;
}
.wrapper-supportPage .top-nav button:hover {
  background-color: #0089BF;
  color: white;
}
.wrapper-supportPage .top-nav .active {
  background-color: #0089BF;
  color: white;
  font-weight: 500;
}

.wrapper-supportPage .content {
  width: 90%;
  margin: auto;
}
.wrapper-supportPage  .checkIcon {
  font-size: 18px;
  color:green;
  margin-right: 10px;
}
.wrapper-supportPage  .warningIcon {
  font-size: 18px;
  color:rgb(255, 157, 0);
  margin-right: 10px;
}

.wrapper-supportPage .question-row {
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
  margin-bottom: 15px;
  text-align: left;
  padding:20px;
  border-radius: 10px;
  transition: 0.2s;
}
.wrapper-supportPage .question-row:hover {
  border: 2px solid #0089BF;
  padding-left: 25px;
}

.question-row #question {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
}
#answer {
  font-size: 15px;
  font-style: italic;
  color: gray;
  margin: auto;
}
.question-popup {
  z-index: 999;
  position: fixed;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 800px;
  height: fit-content;
  border-radius: 10px;
  padding: 30px 20px;
}
.question-popup #question {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.question-popup textarea {
  width: 90%;
  padding: 10px;
  font-size: 18px;
  resize: none;
  border-radius: 10px;
  border: 1px solid lightgray;
  display: block;
  margin: auto;
  outline: none;
}
.question-popup button {
  width: 200px;
  height: 50px;
  background: #0089BF;
  color: white;
  border: none;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 10px;
}


/*  ====== INVOICE PAGE ======= */
.wrapper-invoicePage {
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;
}

.wrapper-invoicePage .content {
    width: 90%;
    height: 80%;
    position: fixed;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    padding: 50px;
}  

.wrapper-invoicePage img {
  display: block;
  width: 300px;
}
.wrapper-invoicePage .horizontal-divider {
  width: 100%;
  margin: 20px 0;
  border: 1px solid lightgray;
}

.wrapper-invoicePage .details {
  display:grid;
  grid-template-columns: 60% auto;
  height: calc(100% - 100px);
}

.card-details {
  width: 70%;
  margin: auto;
  border: 1px solid lightgray;
  padding: 10px 20px ;
}
.FormGroup {
  border: none;
}

.stripeContainer{
	background: transparent !important;
  border: none !important;
}


.wrapper-invoicePage .details #left {
  border-right: 1px solid lightgray;
  padding: 40px;
}

.wrapper-invoicePage #title {
  font-size: 34px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 30px;
}
.wrapper-invoicePage #description {
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 40px;
}

.wrapper-invoicePage #date {
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapper-invoicePage #amount {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin: 60px auto 40px auto;
  color: gray;
  width: fit-content;
  border-bottom: 1px solid gray;
}

.wrapper-invoicePage #name,
.wrapper-invoicePage #phone,
.wrapper-invoicePage #email {
  font-size: 20px;
  width: 80%;
  margin: 10px auto;
  color: gray;
  text-align: left;
}

.wrapper-invoicePage .bulletIcon {
  color: green;
  font-size: 15px;
  margin-left: 100px;
  margin-right: 15px;
}

.wrapper-invoicePage #email {
  margin-bottom: 50px;
}

.wrapper-invoicePage #stripeLegend {
  margin: auto;
  width: 50%;
}

.wrapper-invoicePage button {
  width: 400px;
  height: 45px;
  background-color: #0089BF;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 20px;
}
.wrapper-invoicePage .floatingBtns iframe{
  display: none !important;
}

.wrapper-invoicePage #failed {
  width: 70%;
  margin: 10px auto;
  color: red;
  text-align: left;
}

.paymentForm-confirmation {
  background-color: white;
  position: fixed;
  left: 0; top: 0;
  width: 99%; height: 99%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paymentForm-confirmation .iconCheck {
  color: rgb(31, 207, 31);
  font-size: 150px;
}

.paymentForm-confirmation h2 {
  font-size: 60px;
  color: gray;
}
.paymentForm-confirmation p {
  font-size: 30px;
  color: gray;
}

.wrapper-invoicePage .floatingBtns {
  position: fixed;
  bottom: 30px;
  right: 15px;
  width: 80px;
  display: flex;
  flex-direction: column;
}
.wrapper-invoicePage .floatingBtns button{
  width: 80px;
  height: 80px;
  margin: 0px;
  border-radius: 50%;
  font-size: 30px;
  border: 2px solid transparent;
  color: white;
}
.wrapper-invoicePage .floatingBtns button:hover{
  background: white;
  border: 2px solid #0089BF;
  color: #0089BF;
}


.wrapper-invoicePage .forward-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  width: 600px;
  height: 300px;
  z-index: 999;
}
.wrapper-invoicePage .forward-popup .form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.wrapper-invoicePage .forward-popup  h2 {
  font-size: 30px;
  margin:20px;
  color: #0089BF;
}
.wrapper-invoicePage .forward-popup p {
  color: gray;
  text-align: center;
}
.wrapper-invoicePage .forward-popup .form input {
  width: calc(100% - 120px);
  height: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  border: 1px solid lightgray;
  margin-top: 10px;
  outline: none;
} 
.wrapper-invoicePage .forward-popup .form button { 
  width: 50%;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
}

/*  ========= MESSAGES  ========= */

.wrapper-messagesPage {
  display: grid;
  grid-template-columns: 280px auto;
}
.wrapper-messagesPage .top-nav {
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.wrapper-messagesPage .top-nav h2 {
  margin-left: 0;
  margin-right: auto;
  font-size: 50px;
  color: #0089BF;
}

.wrapper-messagesPage .chats {
  display: grid;
  grid-template-columns: auto 75%;
  width: calc(100vw - 300px);
  margin: auto;
  padding: 1px;
  border: 1px solid gray;
  border-radius: 15px;
  height: calc(100vh - 50px);
  position: absolute;
  left: 290px; top: 50%;
  transform: translateY(-50%);
}
.wrapper-messagesPage .contacts {
  height: 100%;
  overflow-y: scroll;
  background-color: rgb(243, 243, 243);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.wrapper-messagesPage .contacts #title {
  width: 90%;
  margin: 10px auto 20px auto;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: #0089BF;
}

.wrapper-messagesPage .contacts #lastMesage {
  font-size: 12px;
  text-align: left;
  margin-right: 10px;
}


.wrapper-messagesPage .contacts .writeIcon {
  color: gray;
}

.wrapper-messagesPage .contacts .writeIcon:hover {
  color: #0089BF;
}

.wrapper-messagesPage .contacts #name{
  font-weight: 600;
  text-align: left;
  font-size: 20px;
  margin-top: -5px;
}
.wrapper-messagesPage .contacts #email {
  font-weight: 400;
  text-align: left;
  font-size: 12px;
}

.wrapper-messagesPage .contacts .iconStatus {
  font-size: 10px;
  color: #0089BF;
  text-align: left;
}

.wrapper-messagesPage .contacts .row  {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid lightgray;
  display: grid;
  grid-template-columns: 50px auto 15px;
  align-items: center;
  color: gray;
}
.wrapper-messagesPage .contacts .selected-row  {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid lightgray;
  background-color: #0089BF;
  display: grid;
  grid-template-columns: 50px auto 15px;
  align-items: center;
  color: white;
}

.wrapper-messagesPage .contacts .row .iconPerson, .wrapper-messagesPage .contacts .selected-row .iconPerson {
  font-size: 30px;
}

.wrapper-messagesPage .messages {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 53px);
}



.wrapper-messagesPage .top-bar {
  height: 60px;
  background-color: rgb(243, 243, 243);
  border-left: 1px solid gray;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #072A40;
}



.wrapper-messagesPage .contacts .row:hover  {
  background-color: #0089BF;
  color: white !important;
}

.wrapper-messagesPage .buble {
  border: 1px solid lightgray;
  font-size: 20px;
}

.wrapper-messagesPage .admin-buble {
  text-align: right;
  width: fit-content;
  max-width: 70%;
  margin: 3px 10px 0px auto;
  padding: 10px 40px;
  color: white;
  background-color: #0089BF;
  border-radius: 10px;
}

.adminTail {
  display: block;
  width: 15px;
  margin: -4px 13px 3px auto;
}
.customerTail {
  display: block;
  width: 15px;
  margin: -4px auto 3px 13px;
}


.wrapper-messagesPage .customer-buble {
  text-align: left;
  max-width: 70%;
  width: fit-content;
  margin: 3px auto 0px 10px;
  padding: 10px 40px;
  color: white;
  background-color: #25c625;
  border-radius: 10px;
}

.wrapper-messagesPage .message-hour {
  color: gray !important;
  margin-top: -13px;
}
.customer-hour {
  text-align: left;
  margin-left: 30px;
}
.admin-hour {
  text-align: right;
  margin-right: 25px;
}

.wrapper-messagesPage .bubles {
  display: block;
  height:90%;
  overflow-y: auto;
  padding-top: 20px;
}

.wrapper-newMessages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-newMessages textarea {
  width: 97%;
  height: 90%;
  resize: none;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid lightgray;
}

.wrapper-newMessages .arrowIcon {
  font-size: 30px;
  color: #0089BF;
  position: absolute;
  bottom: 45px;
  right: 60px;  
}


/*  ======== PROPERTIES PAGE ==========  */
.wrapper-propertiesPage {
  display: grid;
  grid-template-columns: 280px auto;
}
.wrapper-propertiesPage .top-nav {
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.wrapper-propertiesPage .top-nav h2 {
  margin-left: 0;
  margin-right: auto;
  font-size: 50px;
  color: #0089BF;
}

.wrapper-propertiesPage .properties-row {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
  align-items: center;
  text-align: left;
  padding: 15px 20px;
  height: fit-content;
  font-size: 15px;
  transition: 0.2s;
}
.wrapper-propertiesPage .properties-row .firstRow{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 0.3fr ;
}
.wrapper-propertiesPage .properties-row:hover {
  padding-left: 25px;
  border: 1px solid #0089BF;
}

.wrapper-propertiesPage .properties-row #name{
  font-weight: 500;
}

.wrapper-propertiesPage .properties-row .minMaxNights {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-propertiesPage .properties-row .minMaxNights .labelMinMax {
  color: #0089BF;
  font-weight: bold;
}

.wrapper-propertiesPage .properties-row .minMaxNights input{
  text-align: center;
  width: 70px;
  border: none;
  outline: none;
  font-size: 20px;
}

.wrapper-propertiesPage .properties-row .rules {
  display: block;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 70vw;
  margin-top: 5px;
}
.wrapper-propertiesPage .properties-row .rule {
  display: inline-flex;
  border: 1px solid #0089BF;
  color: #0089BF;
  border-radius: 5px;
  width: fit-content;
  margin-right: 10px;
  gap: 10px;
  padding: 5px 10px;
}
.wrapper-propertiesPage .properties-row .rule:hover {
  background-color: #0089BF;
  color: white;
}


.wrapper-propertiesPage .iconCalendarPlus {
  font-size: 25px;
  color: gray;
  margin-left: auto;
}
.wrapper-propertiesPage .iconCalendarPlus:hover {
  color: #0089BF;
}

.wrapper-propertiesPage .newRule-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  width: 60%;
  height: 550px;
  z-index: 999;
}

.wrapper-propertiesPage .newRule-popup h2{
  font-size: 30px;
  color: #0089BF;
  margin-top: 30px;
}

.wrapper-propertiesPage .newRule-popup .content{
  display: grid;
  grid-template-columns:auto 50%;
}
.wrapper-propertiesPage .newRule-popup .content h3{
  font-size: 150px;
  font-weight: 300;
  text-align: center;
  margin-bottom: -40px;
}

.wrapper-propertiesPage .newRule-popup .buttons{
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.wrapper-propertiesPage .newRule-popup .buttons .iconIncreaseDecrease{
  font-size: 60px;
  color: lightgray;
}
.wrapper-propertiesPage .newRule-popup .buttons .iconIncreaseDecrease:hover{
  color: #0089BF;
}

.wrapper-propertiesPage .newRule-popup #btnSave {
  width: 200px;
  height: 40px;
  margin-top: 30px;
  border: 2px solid transparent;
  background-color: #0089BF;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}
.wrapper-propertiesPage .newRule-popup #btnSave:hover {
  background-color: transparent;
  border: 2px solid #0089BF;
  color: #0089BF;
}


.react-calendar {
  min-width: 400px;
  width: 400px;
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 100%;
  background: white;
  line-height: 1.125em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  padding: 20px;
  margin-right: auto;
  position: relative;
  left: 30px;
}
.react-calendar--doubleView {
  width: 200px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* background-color: #2c3e50; */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.react-calendar__navigation button {
  background-color: transparent;
  color: gray !important;
  height: 100%;
  font-size: 15px;
  border: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  color: #0089BF !important;
  
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  color: gray;
}

abbr[title] {
  text-decoration: none;
  font-size: 15px;
  margin-left: -5px;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 47px;
  text-align: center;
  padding: 5px 10px;
  background: none;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  margin: 2px !important;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.react-calendar__tile:disabled {
  text-decoration:line-through;
  background-color: rgb(244, 244, 244);
  border: 1px solid white
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76 !important;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  color: #0089BF;
  border: 1px solid #0089BF;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}






@keyframes mobileMenu {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 60px;
  }
}
@keyframes mobileCustomerSidebar {
  from {
    right: -100vw;
  }
  to {
    right: 0px;
  }

}

/* ====== SHEET INVOICE ======== */
.wrapper-sheetInvoice {

}
.wrapper-sheetInvoice img {
  display: block;
  height: 60px;
  margin: 0 auto 10px 0;
}
.wrapper-sheetInvoice h2 {
  text-align: left;
  font-size: 30px;
  margin-top: 50px;
}

.wrapper-sheetInvoice .two-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-sheetInvoice #name,
.wrapper-sheetInvoice #phone,
.wrapper-sheetInvoice #email {
  text-align: right;
  font-size: 20px;
}

.wrapper-sheetInvoice #id {
  text-align: left;
  color: #0089BF;
  font-size: 20px;
  margin-bottom: 60px;
}
.wrapper-sheetInvoice #title {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.wrapper-sheetInvoice #description {
  text-align: left;
  font-size: 20px;
  margin-bottom: 50px;
}
.wrapper-sheetInvoice #date {
  text-align: left;
  font-size: 20px;
  margin-bottom: 30px;
}

.wrapper-sheetInvoice #amount {
  text-align: right;
  font-size: 20px;
  margin-top: 80px;
  background-color: #0089BF;
  color: white;
  padding:5px 20px;
}





/*  =======  MOBILE STYLES  ====  */

@media screen and (max-width: 350px) {

  .wrapper-sheet1 .header img { 
    width: 60%;
  }
  .wrapper-sheet1 .header {
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .wrapper-sheet1 .content {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .wrapper-sheet1 h2 {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .wrapper-sheet1 p {
    width: 90%;
    font-size: 5px;
    margin-bottom: 3px;
  }
  .wrapper-sheet1 br {
    display: none;
  }
  .wrapper-sheet1 input {
    width: fit-content !important;
    font-size: 5px;
  }
  .wrapper-sheet1 input[type="radio"] {
    width: 5px;
    height: 5px;
  }
  .wrapper-sheet1 .space {
    display: none;
  }
  .wrapper-sheet1 .sign {
    width: 100px;
    margin: 20px auto 0 auto;
    height: 120px;
  }
  .wrapper-sheet1 .sign img {
    max-width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
  .wrapper-sheet1 .sign p {
    font-size: 8px;
    text-align: center;
    text-transform: capitalize;
  }

}

/* ======== TABLET STYLES =======  */

@media screen and (max-width:800px) {

  /* ======== LOGIN ======== */
.wrapper-login .content img {
  width: 50%;
}
.wrapper-login button {
  width: 40%;
}

/* ========  SIDEBAR  ======== */
  .wrapper-sidebar {
    width: 100%;
    height: 70px;
    border-radius: 0px !important;
    display: block;
    z-index: 999;
  }
  .wrapper-sidebar img {
    height: 30px;
    width: auto;
    margin: 20px auto 0 20px;
  }
  .wrapper-sidebar .menuBtn {
    display: block;
    position: absolute;
    top: 13px;
    right: 15px;
    color: white;
    font-size: 30px;
  }
  .wrapper-sidebar .menu {
    display: none;
  }
  .mobile-menu {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100vw;
      margin-top: 60px;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #072A40;
      animation: mobileMenu 0.5s;
      position: fixed;
      top: 0px;
      left: 0;
      z-index: 998;
  }
  .mobile-menu button {
    display: flex;
    gap: 20px;
    height: 30px;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: none;
    text-align: left;
    padding-left: 25px;
    transition: 0.3s;
  }


  /* ========  CALENDAR PAGE   ======== */

  .wrapper-calendarPage {
    display: block;
    z-index: 1;
    width: 95%;
    margin:75px auto 0 auto;
  }
  .wrapper-calendarPage .calendar-topNav{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .calendar-topNav select{
    font-size: 15px;
    border-radius: 5px;
  }

  .fc-header-toolbar {
    margin-bottom: 10px !important;
  }
  .fc-toolbar-chunk {
    font-size: 10px;
  }
  .fc-view-harness {
    height: calc(100vh - 250px) !important;
    margin-bottom: 10px;
  }

  .fc-event-main {
    font-size: 10px !important;
    height: 35px !important;
  }


  /* ========  CUSTOMERS PAGE  ======== */
  
  .wrapper-customersPage {
    display: block;
    width: 95%;
    margin: 80px auto 0 auto;
  }
  .wrapper-customersPage .top-nav {
    display: block;
    width: 100%;
    margin: 0 auto 15px auto;
  }

  .wrapper-customersPage .top-nav h2 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 0px;
  }
  .wrapper-customersPage .searchBar {
    margin-bottom: 20px;
  }

  .wrapper-customersPage .top-nav input {
    width: 90%;
    text-align: left;
    height: 35px;
    font-size: 12px;
  }
  .wrapper-customersPage .top-nav button {
   height: 35px;
  }
  .customers-row {
    display: flex;
    width: 100%;
    height: 90px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 80px;
  }
  .customers-row:hover {
    padding-left: 100px;
  }
  .customers-row .iconPerson {
    position: relative;
    top: -3px;
    right: 70px;
    font-size: 50px;
    color: gray;
  }
  .customers-row #name {
    font-weight: bold;
    margin-top: -80px;
  }
  .customers-row #email {
    font-size: 13px;
  }
  .customers-row p {
    font-size: 15px;
    text-align: left;
  }


  .customer-sideBar {
    position: fixed;
    right: 0px;
    top: 70px;
    width: 100vw;
    height: calc(100vh - 70px);
    margin: 0;
    border-radius: 0px;
    padding: 30px 30px 200px 30px;
    overflow-y: scroll;
    background-color: white;
    animation:mobileCustomerSidebar 0.2s;
  }
  .customer-sideBar #name {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .customer-sideBar #phone, .customer-sideBar #email {
    font-size: 15px;
    gap: 10px;
    margin-bottom: 5px;
  }

  .customer-sideBar #checkPhotoID, .customer-sideBar #checkSignedContract {
    font-size: 15px;
  }

  .customer-sideBar .iconPrint, .customer-sideBar .iconDownload {
    font-size: 12px;
    text-align: center;
  }

  .extraInvoice p {
    font-size: 15px;
  }

  .extraInvoice input, .extraInvoice select {
    font-size: 15px;
    height: 35px;
  }
  .extraInvoice textarea {
    font-size: 15px;
  }

  .backIcon {
    display: block;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    color: #0089BF;
    font-size: 15px;
  }


  /* ========  DOCUMENTS PAGE  ======== */
  .wrapper-documentsPage {
    display: block;
    width: 95%;
    margin: 80px auto 0 auto;
  }
  .wrapper-documentsPage .top-nav {
    display: block;
    width: 100%;
    margin: 0 auto 15px auto;
  }

  .wrapper-documentsPage .top-nav h2 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 0px;
  }
  .wrapper-documentsPage .searchBar {
    margin-bottom: 20px; 
  }
  .wrapper-documentsPage .top-nav input {
    width: 90%;
    text-align: center;
    height: 35px;
    font-size: 12px;
    display: inline-block;
    margin-left: 0;
    text-align: left;
  }
  .wrapper-documentsPage .top-nav .editIcon {
    position: absolute;
    top: 85px;
    right: 20px;
  }

  .wrapper-documentsPage .documents-row {
    width: 100%;
    margin-bottom: 10px;
  }
  .wrapper-documentsPage .documents-row #left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 10px 0 10px 80px;
  }
  .wrapper-documentsPage .documents-row #left:hover{
    padding-left: 100px;
  }

  .documents-row .iconDocument {
    position: relative;
    top: -3px;
    right: 70px;
    font-size: 50px;
    color: gray;
  }
  .wrapper-documentsPage .documents-row #name {
    font-weight: bold;
    margin-top: -80px;
  }

  .wrapper-documentsPage .documents-row #right{
    font-size: 20px;
    gap: 3px;
    align-items: center;
    width: 20px;
    height: 90px;
    padding: 0;
    margin-left: 10px;
  }
  .documents-row p {
    font-size: 15px;
  }

  /* ========  MESSAGES PAGE  ======== */

  .wrapper-messagesPage {
    display: block;
    width: 100%;
    margin: 70px auto 0 auto;
  }

  .wrapper-messagesPage .contacts-window {
    width: 100%;
    height: 100vh;
  }

  .wrapper-messagesPage .messages-window {
    width: 100%;
    height: calc(100vh - 190px);
  }

  .wrapper-messagesPage .top-bar {
    font-size: 20px;
    height: 45px;
    padding: 0 10px;
  }

  .wrapper-messagesPage .messages {
    height: 100%;
  }
  .wrapper-messagesPage .buble {
    border: 1px solid lightgray;
    font-size: 13px;
  }
  .wrapper-messagesPage .admin-buble {
    text-align: right;
    width: fit-content;
    max-width: 70%;
    margin: 3px 10px 0px auto;
    padding:5px 20px;
    color: white;
    background-color: #0089BF;
    border-radius: 10px;
  }
  .wrapper-messagesPage .customer-buble {
    text-align: left;
    width: fit-content;
    max-width: 70%;
    margin: 3px auto 0px 10px;
    padding:5px 20px;
    color: white;
    background-color: #25c625;
    border-radius: 10px;
  }
  .customer-hour {
    text-align: left;
    margin-left: 30px;
    font-size: 10px;
  }
  .admin-hour {
    text-align: right;
    margin-right: 25px;
    font-size: 10px;
  }
  .wrapper-newMessages textarea {
    font-size: 12px;
  }
  .wrapper-newMessages .arrowIcon {
    bottom: 30px;
    right: 20px;  
    font-size: 25px;
  }


  /* ========  SUPPORT PAGE  ======== */
  .wrapper-supportPage {
    display: block;
    width: 95%;
    margin: 80px auto 0 auto;
  }
  .wrapper-supportPage .top-nav {
    display: block;
    width: 100%;
    margin: 0 auto 15px auto;
  }

  .wrapper-supportPage .top-nav h2 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 0px;
  }
  .wrapper-supportPage .filter {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .wrapper-supportPage .top-nav button { 
    font-size: 15px;
    padding: 0 28px;
    margin: 0;
    border: none;
  }

  .wrapper-supportPage .content {
    width: 100%;
  }

  .question-row #question {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
  }
  #answer {
    font-size: 15px;
    font-style: italic;
    color: gray;
    margin: auto;
  }

  .question-popup { 
    width: 90%;
  }
  .question-popup #question {
    font-size: 20px;
  }
  .question-popup textarea {
    font-size: 15px;
  }
  .question-popup button {
      height: 40px;
      font-size: 15px;
      border-radius: 5px;
  }

  /*  ======== PROPERTIES PAGE ======== */

  .wrapper-propertiesPage {
    display: block;
    width: 95%;
    margin: 80px auto 40px auto;
  }
  .wrapper-propertiesPage .top-nav {
    display: block;
    width: 100%;
    margin: 0 auto 15px auto;
  }

  .wrapper-propertiesPage .top-nav h2 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 0px;
  }

  .wrapper-propertiesPage .properties-row {
    width: 100%;
    display: block;
    height: fit-content;
    padding: 10px 20px;
  }
  .wrapper-propertiesPage .properties-row #name {
    font-weight: bold;
    font-size: 18px;
  }

  .wrapper-propertiesPage .properties-row .minMaxNights{
    width: 200px;
    margin: 10px auto 5px auto;
  }






  /* ========  DOCUMENT   ======== */
  
  .wrapper-document {
    padding: 0;
  }

  .wrapper-document .floatingBtns button{
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 50%;
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper-document .confirmation {
    width: 100%;
    height: 100%;
  }

  .sign-pad {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .sign-pad .actions {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
  }
  .sign-pad .actions button {
    width: 100%;
    height: 50px;
  }

  /*  ======= INVOICE =======  */
  .wrapper-invoicePage {
    
  }
  .wrapper-invoicePage .content {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    position: unset;
    left: 0;
    top: 0;
    transform: translate(0,0);
    padding: 20px;
    box-shadow: none;
  }


  .wrapper-invoicePage img {
    width: 60%;
    margin: 30px auto 40px auto;
  }

  .wrapper-invoicePage .horizontal-divider { display: none;}

  .wrapper-invoicePage .details {
    display: block;
  }
  .wrapper-invoicePage .details  #title, .wrapper-invoicePage .details  #description {
    font-size: 15px;
    text-align: center;
    text-align: justify;
  }
  
  .wrapper-invoicePage .details  #date{
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
  }
  .wrapper-invoicePage .bulletIcon {
    display: none;
  }

  .wrapper-invoicePage #amount {
    margin-top: 0;
    font-size: 25px;
  }
  .wrapper-invoicePage .bulletIcon {
    margin-left: 20%;
  }
  .wrapper-invoicePage #name, .wrapper-invoicePage #phone, .wrapper-invoicePage #email {
    margin: 0;
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  .wrapper-invoicePage  .card-details {
    width: 95%;
    margin:30px  auto;
  }
  .wrapper-invoicePage button {
    width: 90%;
    margin-bottom: 100px;
  }

  .wrapper-invoicePage .paymentForm-confirmation {
    background-color: white;
    height: 110%;
  }
  .wrapper-invoicePage .paymentForm-confirmation .iconCheck{
    font-size: 50px;
  }
  .wrapper-invoicePage .paymentForm-confirmation h2{
    font-size: 35px;
  }
  .wrapper-invoicePage .paymentForm-confirmation p{
    font-size: 20px;
    width: 80%;
  }

  .wrapper-invoicePage .floatingBtns {
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #0089BF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    flex-direction: row;
  }
  .wrapper-invoicePage .floatingBtns button {
    width: 50%;
    height: 70px;
    border-radius: 0;
    box-shadow: none ;
    font-size: 30px;
  }
  .wrapper-invoicePage .forward-popup {
    width: 90%;
    height: 280px;
  }
  .wrapper-invoicePage .forward-popup input {
    width: 95% !important;
  }


  /* ========  OVERVIEW  ======= */
  .wrapper-overview {
    /* border: 1px solid red; */
    display: block !important;
    width: 100%;
  }
  .wrapper-overview .content {
    /* background-color: red; */
    width: 100%;
    padding-top: 100px;
  }
  .wrapper-overview .graph {
    width: 100%;
  }
}







