<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin:0; padding: 0;">
    <div class="content" style=" width:100%; max-width: 1100px; margin:auto;">
        <img src="https://res.cloudinary.com/dxfi1vj6q/image/upload/v1682964660/Final_Logo_1_byrdtx.png" 
        style="max-width: 200px;">
        
        <h2> {{title}} </h2>
        <p> {{description}} </p>
        
        <div style="text-align:center;">
           <p style="font-size: 30px;"> <b> ${{amount}} USD </b></p>
        </div>

        <div style="text-align:center;">
             <a style="background-color: #0089BF; color: white; display:inline-block; width:100%; max-width:350px; height:50px; border-radius:5px; line-height: 50px; font-size:20px; text-align:center; font-weight:bold; text-decoration:none;" href="https://dashboard-better-stays.vercel.app/invoice?id={{invoiceID}}"> Pay Now </a>
        </div>
       


        <div class="footer" style="background-color: #072A40; padding:50px 30px; margin-top: 50px; color: white;">
          <img src="https://res.cloudinary.com/dxfi1vj6q/image/upload/v1683933526/Final_Logo_1_byrdtx_m9colt.png" 
          style="width: 50%; max-width: 200px;">
          <p style="font-size: 15px; width: 90%; max-width: 500px; margin-bottom: 30px;"> Better Stays is the Midwest's premier vacation rental company. Don't just stay anywhere, stay better! </p>
          <a href="tel:9999088639" style="color: white; text-decoration: none; display: block;"> +1 (630) 370 7422</a>
          <a href="betterstaynow.com" style="color: white; text-decoration: none;"> BetterStaysNow.com </a>
          <a href="mailto:betterstaynow@gmail.com" style="color: white; text-decoration: none; display: block;"> betterstaynow@gmail.com </a>
        </div>
    </div>
</body>
</html>

